.container {
	font-family: Arial;
	padding: 12.5px;
	overflow: hidden;
	background-color: #222222; 
}

.color {
	color:white;
  }

#linguini-popup-base {
	all: initial;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	position: fixed;
	background-color: white;
	z-index: 999999;
	
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffcf40;
	
	line-height: normal;
	margin: 0px;
}

#linguini-popup-base .inner-div {
	padding: 10px;
}

#linguini-popup-base .main-text {
	font-family: Arial;
	padding: 0px;
	padding-bottom: 8px;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;
	color: black;
	margin: 0px;
}

#linguini-popup-base .label-text {
	font-family: Arial;
	padding: 0px;
	font-weight: normal;
	font-size: 10px;
	line-height: normal;
	color: #444444;
	margin: 0px;
}
