
#linguini-popup-base {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	position: fixed;
	background-color: white;
	z-index: 999999;
	
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffcf40;
	font-family: Arial;
}

#linguini-popup-base .main-text {
	padding: 5px;
	font-weight: normal;
	font-size: 16px;
	line-height: 0px;
	height: 10px;
	color: black;
}

#linguini-popup-base .label-text {
	padding: 5px;
	font-weight: normal;
	font-size: 10px;
	line-height: 0px;
	height: 0px;
	color: #444444;
}
